# IDE
.idea/
.vscode/
.kiro/

# Python
__pycache__/
*.py[cod]
*.pyc
*.so
env/
venv/
ENV/
*.egg-info/
*.egg

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db
